@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');

body {
  /* background-color: hsla(238, 100%, 44%, 0.78); */
  padding: 0px;
  margin: 0px;
}

main {
  margin: 0px;
  margin-top: 10%;
  text-align: center;
  vertical-align: center;
/*   line-height: 100vh */
  font-size: 2rem;
  font-family: 'Oswald', sans-serif;
  /* color: white; */
  background-color: white;
  font-size: 6rem;
}

a,
.green {
  text-decoration: none;
  color: hsla(238, 100%, 44%, 0.78);
/*   hsla(238, 100%, 44%, 0.78) */
  transition: 0.4s;
  border-radius: 0px;
}

  a:hover {
    background-color: hsla(238, 100%, 44%, 0.3);
    border-radius: 5px;
    font-size: 7rem;
  }

  .contact-link {
  text-decoration: none;
  color: hsl(0, 0%, 98%);
/*   hsla(238, 100%, 44%, 0.78) */
  transition: 0.4s;
  border-radius: 0px;
  margin: 30px;
}

  .contact-link:hover {
    background-color: hsla(0, 0%, 100%, 0.508);
    border-radius: 5px;
    font-size: 7rem;
    margin: 50px;
  }

  .hello {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .hello-h {
    margin-right: 10%;
    text-align: center;
  }
  
  .Resources {
    /* background-color: rgb(172, 172, 172); */
    border: 5px solid hsla(238, 100%, 44%, 0.78);
    padding: 60px;
    border-radius: 25px;
    width: 25%;
  }
  
  img {
    transition: all 0.5s ease;
    width: 80px;
    /* height: 50px; */
    height: auto;
    padding: 5px;
    border-radius: 25%;
  }
  
  img:hover {
    width: 90px;
    height: auto;
    padding: 10px;
  }

  .contact {
    margin-top: 60px;
    color: white;
    background-color: hsla(238, 100%, 44%, 0.78);
    /* font-size: 3rem; */
    padding: 10px;
  }

 
  .contact-c {
    font-size: 8rem;
  }

  .projects-h {
    font-size: 8rem;
  }

  .projects {
    margin: 0px
  }

@media (max-width: 1600px) {
  main {
    font-size: 3rem;
    /* background-color: red; */
  }

  a:hover {
    background-color: hsla(238, 100%, 44%, 0.3);
    border-radius: 5px;
    font-size: 4rem;
  }

  img {
    transition: all 0.5s ease;
    width: 40px;
    /* height: 50px; */
    height: auto;
    padding: 5px;
    border-radius: 25%;
  }
  
  img:hover {
    width: 60px;
    height: auto;
    padding: 10px;
  }

  .contact-link:hover {
    background-color: hsla(0, 0%, 100%, 0.508);
    border-radius: 5px;
    font-size: 4rem;
    margin: 50px;
  }

  .contact-c {
    font-size: 4rem;
  }

}

